// //variables


//colors

$white: #ffffff;
$gold: #9C8E68;
$gold08: rgba(156, 142, 104, 0.8);
$violet: #22202D;
$violetfont: #393855;
$violetfont08: rgba(57, 56, 85, 0.5);
$header: #2D2C34;
$beige: #EBE9E3;
$darkbeige: #DAD5C4;
$booking: #32303F;
$main-color: #908f97;
$secondary-color: #fff;
// //font-sizes
//120px
$titleXxl: 7.5rem;
//80px
$titleXl: 5rem;
//50px
$titleL: 3.125rem;
//42px
$title: 2.625rem;
//34px
$titleS: 2.125rem;
//24px
$titleXs: 1.5rem;
//20px
$seemore: 1.25rem;
//18px
$small: 1.125rem;
//16px
$oneem: 1rem;
//14px
$smallXS: 0.875rem;


// //font-family
$playreg: 'playfair_displayregular';
$playbold: 'playfair_displaybold';
$robotoreg: 'robotoregular';
$italic: 'robotoitalic';
// $mtav:'Mtav';
// $cubano:'cubano';
// $nusx:'alknusx';
